{% extends 'member/base.html.twig' %}

{% block page %}

{% if project is defined %}

    <div class="row mb-4">
        <div class="col-lg-3 col-md-3">
            <div class="card mb-4">
                <div class="card-body flexbox-b">
                    <div class="easypie mr-4" data-percent="42">
                        <div class="widget-small info coloured-icon"><i class="icon fa fa-users fa-3x"></i> </div>
                    </div>

                    <div>
                        <b class="font-strong text-success">{{ bid_count }}</b>
                        <div class="text-muted"><h4> Bids</h4></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="card mb-4">
                <div class="card-body flexbox-b">
                    <div class="easypie mr-4" data-percent="42">
                        <div class="widget-small info coloured-icon"><i class="icon fa fa-crosshairs fa-3x"></i> </div>
                    </div>

                    <div>
                        <h3 class="font-strong text-success"><b>{{ project.averageBid }}</b></h3>
                        <div class="text-muted"><h4>Average Bids</h4></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="card mb-4">
                <div class="card-body flexbox-b">
                    <div class="easypie mr-4">
                        <div class="widget-small danger coloured-icon"><i class="icon fa fa-money fa-3x"></i></div>
                    </div>
                    <div><b>{{ project.budget.minPrice |price }}  -  {{ project.budget.maxPrice |price }}</b> <div class="text-muted"> <h4>Budget</h4></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="card mb-4">
                <div class="card-body flexbox-b">
                    <div class="easypie mr-4">
                        <div class="widget-small primary coloured-icon "><i class="icon fa fa-hourglass-start fa-3x"></i></div>
                    </div>
                    <div>
                        <b> {{ project.created |date }}</b> <div class="text-muted"> <h4>{{ project.state |title }}</h4></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <hr />

            <div class="row">

                 <div class="col-lg-8 col-xs-12">
                     <div class="ibox">

                         {% if workingBid  %}

                         {% if workingBid.step == 1  %}

                         <div id="milestone_proposal_section">
                             <div class="ibox-head">
                                 <div class="ibox-title"> <h4 class="text-center">Create Milestone Proposal</h4></div>
                                 <div class="ibox-tools">

                                     <a class="fullscreen-link"><i class="ti-fullscreen"></i></a>
                                 </div>
                             </div>
                             <div class="ibox-body">


                                 <div class="row">
                                     <div class="col-lg-12">

                                         <div class="alert alert-facebook alert-fill alert-border-left alert-close alert-dismissible fade show" role="alert">
                                             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                 <span aria-hidden="true">&times;</span>
                                             </button>
                                             <i class="font-icon font-icon-help"></i>

                                             <h4 class="text-center"><strong>What is a Milestone Proposal ?</strong></h4><br/>
                                             <h5>A milestone Proposal</h5>
                                             <p >This is how you wish to receive your payment. Here you can decide if you want your employee
                                                 to pay you a bit depending on your task.   <a class="alert-link" href="#">learrn more</a>
                                         </div>

                                     </div>

                                 </div>
                                 <div  class="row">
                                     <div class="col-sm-12">
                                         <div id ="milestoneChoice" >
                                             <a href="" id="createMilestone">Create Milestone</a>

                                             <button id="refuseMilestoneCreation" class="btn btn-sm btn-primary">let the employer choose a convenient  milestone</button>
                                         </div>
                                         <form id="chooseNumberofMilestoneForm" class="form-horizontal">

                                             <label for="select">

                                                 <div class="alert alert-pink alert-dismissable fade show alert-bordered has-icon"><i class="la la-info-circle alert-icon"></i>
                                                     <strong>Make a choice</strong><br>Number Of Milestone(choose if you want to split payment or be paid at once here. <a class="alert-link" href="#">learn more</a> )</div></label>

                                             <select class="form-control" id="selectNumberOfMilestone">
                                                 <option value="0">Make a choice</option>
                                                 <option value="1">1 Milestone</option>
                                                 <option value="2">2 Milestones</option>
                                             </select>


                                         </form>
                                         <div id="createMilestoneAndNext" style="padding:1em">
                                             <form id="createMilestoneAndNextForm" class="form-horizontal">
                                                 <input type="submit" value="Create Milestone & Next" class="btn btn-primary"   />
                                             </form>
                                         </div>
                                         <div id="milestoneOptions">
                                             <hr />
                                             <h4>This is your first milestone
                                                 <span>(Your first payment)</span></h4>




                                             <div class="alert alert-pink alert-dismissable fade show alert-bordered has-icon"><i class="la la-info alert-icon"></i>
                                                 <button class="close" data-dismiss="alert" aria-label="Close"></button><strong>Info!</strong><br><p >Because you chose to split your payment into two chunk, here you are required to state
                                                     how much you want to receive first and state what you intent to use it for.</p>
                                             </div>


                                             {{ form_start(milestoneForm, {'attr': {'class': 'form-inline form-purple','id': 'numberfMilestoneForm'}}) }}

                                             <div class="input-group"><span class="input-group-addon">₦</span>
                                                 {{ form_widget(milestoneForm.amount,{ 'id':'initialProposedAmount'}) }}

                                             </div>
                                             <div class="form-group">
                                                 <label class="control-label">Description</label>
                                                 {{ form_widget(milestoneForm.description) }}
                                             </div>

                                             <hr />

                                             <input type="submit" value="Save & Next" class="btn btn-primary btn-circle"   />

                                             {{ form_end(milestoneForm) }}

                                         </div>
                                     </div>
                                 </div>

                             </div>


                         </div>

                         {% elseif workingBid.step ==2  %}
                         <div id="feature_section">

                             <div class="ibox-head">
                                 <div class="ibox-title"> <h4 class="text-center">Boost Bid</h4></div>
                                 <div class="ibox-tools">

                                     <a class="fullscreen-link"><i class="ti-fullscreen"></i></a>
                                 </div>
                             </div>

                             <div class="ibox-body">


                                 <div class="row">
                                     <div class="col-lg-12">
                                         <div class="alert alert-google-plus alert-fill alert-border-left alert-close alert-dismissible fade show" role="alert">
                                             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                 <span aria-hidden="true">&times;</span>
                                             </button>
                                             <i class="font-icon font-icon-help"></i>

                                             <h4 class="text-center"><strong>What Boosting your bid does ?</strong></h4><br/>

                                             <p > Boosting your bid puts you directly in front of the employer. If you can, we strongly advice you boost this bid .
                                                 a boosted bid plus  good reviews on chukolo gives you a very high chance of being awarded the project.   <a class="alert-link" href="#">learrn more</a>
                                         </div>

                                       {##}
                                         {% if subscriptions %}
                                             <ul class="media-list media-list-divider">

                                                 {% for subscription in subscriptions %}

                                                     {% if workingBid %}
                                                         {% if workingBid.hasSubscription(subscription) %}

                                                             <li class="media">
                                                                 <div class="form-group">
                                                                     <label class="checkbox checkbox-outline-success">
                                                                         <input class="checkIt" style="margin-top: 2em; padding: 1em" type="checkbox" checked  value={{ subscription.id }}>
                                                                         <span class="input-span">   </span>

                                                                         <div class="media-body">

                                                                             <div class="media-heading">{{ subscription.name |title }}
                                                                                 <img src="assets/img/logos/payment/visa.png" style="margin: 1em" class="media-img media-left" alt="icon" width="60" />
                                                                                 <h5 style="margin-top: 2em" class="font-strong float-right text-right">{{ subscription.value |price }}</h5>
                                                                             </div>


                                                                             <p class="font-13 m-0 text-light"> {{ subscription.description |title }}</p>


                                                                         </div>
                                                                     </label>
                                                                 </div>
                                                             </li>
                                                         {% else %}
                                                             <li class="media">
                                                                 <div class="form-group">
                                                                     <label class="checkbox checkbox-outline-success">
                                                                         <input class="checkIt" style="margin-top: 2em; padding: 1em" type="checkbox" value={{ subscription.id }}>
                                                                         <span class="input-span">   </span>

                                                                         <div class="media-body">

                                                                             <div class="media-heading">{{ subscription.name |title }}
                                                                                 <img src="" style="margin: 1em" class="media-img media-left" alt="icon" width="60" />
                                                                                 <h5 style="margin-top: 2em" class="font-strong float-right text-right">{{ subscription.value |price }}</h5>
                                                                             </div>


                                                                                <p class="font-13 m-0 text-light"> {{ subscription.description |title }}</p>


                                                                         </div>
                                                                     </label>
                                                                 </div>
                                                             </li>

                                                         {% endif %}
                                                     {% endif %}

                                                 {% endfor %}
                                             </ul>
                                         {% endif %}


                                         <button id="gotoSummary" class="btn btn-primary">Bid Summary</button>
                                     </div>
                                 </div>
                             </div>
                         </div>


                     {% elseif workingBid.step == 3  %}
                         <div id="review_section">

                                 <div class="ibox-head">
                                     <div class="ibox-title"> <h4 class="text-center">Proposal Summary</h4></div>
                                     <div class="ibox-tools">

                                         <a class="fullscreen-link"><i class="ti-fullscreen"></i></a>
                                     </div>
                                 </div>
                                 <div class="ibox-body">

                                     <article class="profile-info-item">
                                         <header class="profile-info-item-header">
                                             <i class="font-icon font-icon-notebook-bird"></i>
                                             Bid Detail
                                         </header>
                                         <div class="text-block text-block-typical">
                                             <p>Your bid amount is <strong> {{ workingBid.price |price}}</strong></p>
                                             <p>Project commission is {{ workingBid.commission |price }}</p>
                                             <p>What you would receive is {{ workingBid.value |price }}</p>
                                             <p>You are to deliver this project in <strong> {{ workingBid.duration}}</strong> </p>
                                             <p>{{ workingBid.proposal }}</p>
                                         </div>
                                     </article>


                                     {%  if workingBid.milestoneProposal|length>0 %}
                                         <article class="profile-info-item">
                                             <header class="profile-info-item-header">
                                                 <i class="font-icon font-icon-case"></i>
                                                 Milestone Proposal(s)
                                             </header>
                                             <ul class="exp-timeline">


                                                 {% for milestone in workingBid.milestoneProposal %}
                                                     <li class="exp-timeline-item">
                                                         <div class="dot"></div>
                                                         <div class="tbl">
                                                             <div class="tbl-row">
                                                                 <div class="tbl-cell">
                                                                     <div class="exp-timeline-range">{{ milestone.milestoneCode |title   }}</div>
                                                                     <div class="exp-timeline-status">{{ milestone.amount |price}}</div>
                                                                     <div class="exp-timeline-location">{{ milestone.description |raw }}</div>
                                                                 </div>
                                                                 <div class="tbl-cell tbl-cell-logo">
                                                                     <img src="img/logo-2.png" alt="">
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     </li>

                                                 {% endfor %}


                                             </ul>
                                         </article><!--.profile-info-item-->

                                     {%  endif %}



                                     {%  if workingBid.getSubscription|length >0 %}
                                         <article class="profile-info-item">
                                             <header class="profile-info-item-header">
                                                 <i class="font-icon  font-icon-lamp warning"></i>
                                                 Boost
                                             </header>
                                             {% for subscription in workingBid.subscription %}
                                             <section class="skill-item tbl">
                                                 <div class="tbl-row">
                                                     <div class="form-group">
                                                         <label class="checkbox checkbox-outline-success">
                                                             <input checked class="checkIt" style="margin-top: 2em; padding: 1em" type="checkbox" value={{ subscription.id }}>
                                                             <span class="input-span">   </span>

                                                             <div class="media-body">

                                                                 <div class="media-heading">{{ subscription.name |title }}
                                                                     <img src="" style="margin: 1em" class="media-img media-left" alt="icon" width="60" />
                                                                     <h5 style="margin-top: 2em" class="font-strong float-right text-right">{{ subscription.value |price }}</h5>
                                                                 </div>


                                                                 <p class="font-13 m-0 text-light"> {{ subscription.description |title }}</p>


                                                             </div>
                                                         </label>
                                                     </div>
                                                 </div>
                                             </section><!--.skill-item-->
                                             {% endfor %}


                                         </article><!--.profile-info-item-->


                                     {%  endif %}


                                 </div>
                                 <div class="ibox-footer">
                                     <button id="confirmBid" class="btn btn-success">Place </button>
                                     <button id="deleteToRebid" class="btn btn-danger">Delete & Re-Bid </button>
                                     <button id="deleteBid" class="btn btn-primary">Cancel</button>
                             </div>


                         </div>
                     {% endif  %}

                     {% else %}

                         {# because there is no working bid present a clean page for creating a working bid#}

                             <div class="ibox-head">
                                 <h3>Bid For This Project</h3>
                             </div>
                             <div class="ibox-body">
                                 {{ form_start(form, { 'attr': {'id': 'bidForm'} }) }}

                                 <div class="container ">
                                     <div class="row">
                                         <div class="col-md-6">




                                             <div class="form-group mb-4">
                                                 <label>Paid to You<span class="hint-circle red"  data-toggle="tooltip" data-placement="top" title="How much do you want to receive for this project ? ">?</span></label>
                                                 <div class="input-group-icon input-group-icon-left">

                                                     {{ form_row(form.price) }}
                                                 </div>
                                             </div>
                                         </div>


                                         <div class="col-md-5">
                                             <div class="form-group mb-4">
                                                 <label class="control-label">Deliver in Days <span class="hint-circle red"
                                                                                                    data-toggle="tooltip"
                                                                                                    data-placement="top"
                                                                                                    title="How many day(s) would it take you to finish this project ? ">?</span></label>

                                                 {{ form_row(form.duration) }}

                                             </div>

                                         </div>
                                     </div>
                                     <div class="row">
                                         <div class="col-md-12">


                                             <div class="form-group  mb-4">
                                                 <label class="control-label">Why should you get this project ? <span class="hint-circle red"
                                                                                                                      data-toggle="tooltip"
                                                                                                                      data-placement="top"
                                                                                                                      title="Tell the employer why you should be awarded this project ? ">?</span></label>
                                                 {{ form_row(form.proposal) }}
                                             </div>

                                         </div>
                                     </div>



                                     <div class="row">
                                         <div class="col-md-12">

                                             <input type="submit" value="Next" class="btn btn-primary" id="publicationCommit"  />

                                         </div>
                                     </div>

                                 </div>

                                 {{ form_end(form) }}
                             </div>

                     {% endif %}


                     </div>
                 </div>

                 <div class="col-lg-4 col-xs-12">



                <div class="alert alert-aquamarine alert-fill alert-close alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5>tip header</h5>
                    <p>some helpful tips or general This is how you wish to receive your payment. Here you can decide if you want your employee
                        to pay you a bit depending on your task.This is how you wish to receive your payment. Here you can decide if you want your employee
                        to pay you a bit depending on your task.This is how you wish to receive your payment. Here you can decide if you want your employee
                        to pay you a bit depending on your task.This is how you wish to receive your payment. Here you can decide if you want your employee
                        to pay you a bit depending on your task.This is how you wish to receive your payment. Here you can decide if you want your employee
                        to pay you a bit depending on your task.This is how you wish to receive your payment. Here you can decide if you want your employee
                        to pay you a bit depending on your task.This is how you wish to receive your payment. Here you can decide if you want your employee
                        to pay you a bit depending on your task.This is how you wish to receive your payment. Here you can decide if you want your employee
                        to pay you a bit depending on your task.This is how you wish to receive your payment. Here you can decide if you want your employee
                        to pay you a bit depending on your task.This is how you wish to receive your payment. Here you can decide if you want your employee
                        to pay you a bit depending on your task.This is how you wish to receive your payment. Here you can decide if you want your employee
                        to pay you a bit depending on your task.This is how you wish to receive your payment. Here you can decide if you want your employee
                        to pay you a bit depending on your task.anouncement </p>
                    <div class="alert-btns">
                        <button type="button" class="btn btn-rounded"> <a class="alert-link" href="#">learrn more</a></button>

                    </div>
                </div>


                 </div>

        </div>


{% endif %}
{% endblock %}



{% block javascripts %}


    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function () {

            $('#loading_card').hide();
            $('#milestoneOptions').hide();
            $('#createMilestoneAndNext').hide();
            $('#chooseNumberofMilestoneForm').hide();


            /*
             * create bid with ajax
             */
            $('#bidForm').submit(function(e) {
                //e.preventDefault();
                var url = "{{ path('bid_project', { 'projectId': project.id}) }}";

                $('#loading_card').show();
                $('#bid_Project_section').hide();
                var formSerialize = $(this).serialize();
                $.post(url, formSerialize, function(response) {
                    $('#loading_card').hide();
                    $('#milestone_proposal_section').show();
                     location.reload();
                }, 'JSON');

            });

            /*
             * initialize milestone creation
             */
            $('#createMilestone').click(function(e) {
                e.preventDefault();
                $('#chooseNumberofMilestoneForm').show();
                $('#milestoneChoice').hide();
            });


            /*
             * create one milestone and go to next
             */
            $('#createMilestoneAndNextForm').submit(function(e) {
                // e.preventDefault();
                var val =1;



                $('#milestone_proposal_section').hide();
                $('#loading_card').show();
                $.ajax({
                    type: "POST",
                    url: "{{ url('bid_project', {'projectId': project.id}) }}?createOneMilestone=" + val,
                    success: function(data) {
                        var errorMessage=data.message;
                        alert(errorMessage);
                        //    alert("create milestone and next clicke");
                        //   $('#loading_card').hide();
                        // location.reload();

                    },
                    error: function(data) {
                        var errorMessage=data.message;
                        alert(errorMessage );

                    }
                });
            });



            /*create milestone This action gets fired anytime the number of milestone is created */
            $('#selectNumberOfMilestone').change(function(){
                /*
                 * todo: here
                 */
                var val = $(this).val();
                if(val ==0){

                    $('#milestoneOptions').hide();
                    $('#refuseMilestoneCreation').show();
                    $('#milestoneChoice').show();
                    $('#createMilestoneAndNext').hide();
                    $('#chooseNumberofMilestoneForm').hide();
                }
                if(val ==1){
                    $('#milestoneOptions').hide();
                    $('#createMilestoneAndNext').show();
                    $('#refuseMilestoneCreation').hide();
                    $('#milestoneChoice').hide();
                }
                if(val ==2){
                    // here since the selected milesto2e is greater the
                    $('#milestoneOptions').show();
                    $('#refuseMilestoneCreation').hide();
                    $('#createMilestoneAndNext').hide();
                    $('#milestoneChoice').hide();
                }
                return false;
            });


            /*
             * todo:here create your validation ie amount is not ever equal to bid value
             */
            $('#initialProposedAmount').change(function(){
                var amount = $('#initialProposedAmount').val();
                alert(amount);
            });

            /*
             * create proposal for this bid
             */
            $('#numberOfMilestoneForm').submit(function(e) {

                alert("numer of milstone clicked");
                //e.preventDefault();
                var url = "{{ path('bid_project', {'projectId': project.id}) }}";

                $('#loading_card').show();
                $('#milestone_proposal_section').hide();
                var formSerialize = $(this).serialize();
                $.post(url, formSerialize, function(response) {
                    location.reload();
                    $('#loading_card').hide();
                    $('#feature_section').show();
                }, 'JSON');

            });



            //for adding  features  or removing features


            $('.checkIt').bind('click', function() {

                var val = $(this).val();
                if($(this).is(":checked")) {
                    $('#loading_card').show();
                    $('#feature_section').hide();

                    $.ajax({
                        type: "POST",

                        url: "{{ path('bid_project',{'projectId': project.id}) }}?add_feature_id=" + val,
                        success: function(data) {
                            window.location.href = data;
                            $('#feature_section').show();
                            $('#loading_card').hide();
                            location.reload();
                        },
                        error: function(urlFromController){
                            alert( urlFromController.statusText);
                            // window.location.href = urlFromController;
                            console.log("Error in Processing--" + data.status);
                        }

                    });

                } else {
                    $('#loading_card').show();
                    $('#feature_section').hide();

                    $.ajax({
                        type: "POST",
                        url: "{{ url('bid_project', { 'projectId': project.id}) }}?remove_feature_id=" + val,
                        success: function(data) {
                            $('#feature_section').show();
                            $('#loading_card').hide();
                            location.reload();
                        }
                    });
                }
            });

            /*
             * create bid with ajax
             */
            $('#gotoSummary').click(function(e) {
                var val =1;


                $('#feature_section').hide();
                $('#loading_card').show();
                $.ajax({

                    type: "POST",
                    url: "{{ path('bid_project', { 'projectId': project.id}) }}?goTo_summary="+val,
                    success: function(data) {
                        location.reload();

                        $('#loading_card').hide();
                    }
                });
            });
            /*
             * refuse to create milestone proposal
             */
            $('#refuseMilestoneCreation').click(function(e) {
                var val = 1;
                $('#feature_section').hide();
                $('#loading_card').show();
                $.ajax({

                    type: "POST",
                    url: "{{ path('bid_project', { 'projectId': project.id}) }}?ignoreMilestone="+val,
                    success: function(data) {
                        location.reload();

                        $('#loading_card').hide();
                    }
                });
            });

            /*
             * create bid with ajax
             */
            $('#confirmBid').click(function(e) {
                var val=2;


                $('#review_section').hide();
                $('#loading_card').show();
                $.ajax({

                    type: "POST",
                    url: "{{ path('bid_project', { 'projectId': project.id}) }}?confirmBid="+val,
                    success: function(data) {
                        //alert(data.errorCode  +" /"+data.statusText);
                       window.location.href = data;
                        // $('#loading_card').hide();
                    },error: function(message){

                      //  $('#review_section').hide();
                    }
                });
            });



        });
    </script>

{% endblock %}