{% trans_default_domain 'FOSUserBundle' %}



        {{form_start(form, {'method': 'POST', 'attr':{'class': 'reg-form'}})}}

            <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>SIGN IN</h3>


                    <div class="form-group">
                        <label class="control-label">EMAIL</label>
                        <div  style="color: red">
                            {{ form_errors(form.email) }}
                        </div>
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">USERNAME</label>

                        <div  style="color: red" >
                            {{ form_errors(form.username) }}
                        </div>
                        {{ form_widget(form.username) }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">PASSWORD</label>

                        <div  style="color: red" >
                            {{ form_errors(form.plainPassword.first) }}
                        </div>
                        {{ form_widget(form.plainPassword.first) }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">CONFIRM PASSWORD</label>

                        <div  style="color: red" >
                            {{ form_errors(form.plainPassword.second) }}
                        </div>
                        {{ form_widget(form.plainPassword.second,{'class': 'form-control'}) }}
                    </div>

                    <div class="form-group">
                        <label class="control-label">I Want To</label>
                        <div  style="color: red">
                            {{ form_errors(form.intention) }}
                        </div>
                        <div class="animated-checkbox">
                            {{ form_widget(form.intention,{'class': 'animated-checkbox'}) }}
                        </div>

                    </div>
                     <div class="form-group">
                        <div class="utility">
                            <div class="animated-checkbox">
                                <label class="semibold-text">
                                    Already have an account? <br />
                                    <a href="{{ path('fos_user_security_login') }}">Login to your account</a>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group btn-container">
                        <input type="submit" value="{{ 'registration.submit'|trans }}"
                               class="btn btn-primary btn-block" />
                    </div>

            {{ form_end(form) }}
