<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chukolo |Earn from your skill</title>
    {% block stylesheets %}
        <!-- CSS-->


        <link href="{{ asset('assets/css/profile/style.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/profile/animate.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/chuma.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/dashboard/main.css') }}" rel="stylesheet">



        <!-- Font-icon css-->
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    -->
    <script type="text/javascript" src="{{ asset('assets/js/profile/modernizr.custom.97074.js') }}"></script>
</head>
<body style="background-color: #fafafa;color: #6f4e37"  class="sidebar-mini fixed">

<div style="background-color: #fafafa" class="wrapper">



    <header class="main-header hidden-print"><a class="logo" href="#">Chukolo</a>
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->

            <a class="sidebar-toggle" href="#" data-toggle="offcanvas"></a>

            <!-- Navbar Right Menu-->
            <div class="navbar-custom-menu">
                <ul class="top-nav">
                    <!--Notification Menu-->
                    <li class="dropdown "><a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
                            {% if app.user.fund %}
                            {{ app.user.fund.usableAmount |price }}

                              {% else %}
                                No acount for you
                            {% endif %}
                        </a>
                        <ul style="padding: 1em"  class="dropdown-menu">
                            <li style="padding: 2em 1.5em .2em">
                                 <i style="padding-left: 1.3em" class="fa fa-credit-card-alt fa-3x text-info" aria-hidden="true"></i>

                                 <p style="font-size: x-small;font-style: italic;align-content: center; padding-top: 1em">Make a deposit to have fund available in your account</p>
                                <hr />
                            </li>
                            <li><a class="media" href="{{ path('finance_dashboard') }}"><span class="block">Finances</span></a></li>
                            <li><a class="media" href="{{ path('transaction_history') }}"><span class="block">Transaction History</span></a></li>
                            <li><a class="media" href="{{ path('verify_payment') }}"><span class="block">Verify Payment Method</span></a></li>
                            <li><a class="media" href="{{ path('withdraw_fund') }}"><span class="block">Withdraw Money</span></a></li>
                        </ul>
                    </li>


                    <!--Notification Menu-->
                    <li class="dropdown notification-menu"><a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-th fa-lg" aria-hidden="true"></i></a>
                        <ul style="padding: 1em" class="dropdown-menu">


                            <li>
                                <a class="media" href="javascript:;">
                                    <span class="media-left media-icon"><span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x text-info"></i>
                                            <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                                        </span></span>
                                    <div style="padding-top: 0.6em"  class="media-body"><span class="block">Jobs Near Me </span></div>
                                </a>
                            </li>


                            <li>
                                <a class="media" href={{ path("exhibition-dashboard") }}>
                                    <span class="media-left media-icon"><span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                            <i class="fa fa fa-trophy fa-stack-1x fa-inverse"></i>

                                        </span></span>
                                    <div style="padding-top: 0.6em" class="media-body"><span class="block">Exhibition</span></div>
                                </a>
                            </li>

                            <li>
                                <a class="media" href={{ path("community-dashboard") }}>
                                    <span class="media-left media-icon"><span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x text-warning"></i>
                                            <i class="fa fa-comments-o fa-stack-1x fa-inverse"></i>

                                        </span></span>
                                    <div style="padding-top: 0.6em"  class="media-body"><span class="block">Community People </span></div>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <!--Notification Menu-->
                    <li class="dropdown notification-menu"><a  href="{{ path('message_inbox') }}" ><i class="fa fa-envelope-o fa-lg"></i></a>

                    </li>
                    <!-- User Menu-->
                    <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-lg"></i></a>
                        <ul class="dropdown-menu settings-menu">
                            <li><a href={{ path('user_settings') }}><i class="fa fa-cog fa-lg"></i> Settings</a></li>
                            <li><a href="{{ path("my_profile", { 'userName': app.user }) }}"><i class="fa fa-user fa-lg"></i> Profile</a></li>
                            <li>
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <a href= "{{ path('fos_user_security_logout') }}">
                                        <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
                                        Logout
                                    </a>

                                {% endif %}

                        </ul>
                    </li>


                </ul>
            </div>

        </nav>
    </header>



    <!-- Side-left-->
    <aside  class="main-sidebar  hidden-print">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image"><img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image"></div>
                <div class="pull-left info">
                    <p>Chuma Akoh</p>
                    <p class="designation">Full Stack Developer</p>
                </div>
            </div>
            <!-- Sidebar Menu-->
            <ul class="sidebar-menu">
                {% block menu %}

                    <li class="active"><a href="{{ path("user_dashboard") }}"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>

                    <li class="treeview"><a href="#"><i class="fa fa-navicon"></i><span>Work</span><i class="fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Project With My Skills</a></li>
                            <li><a href={{ path("brows_jobs") }} ><i class="fa fa-circle-o"></i>Brows Projects</a></li>
                            <li><a href="#"target="_blank"><i class="fa fa-circle-o"></i> Brows Local Jobs</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Brows Categories</a></li>
                        </ul>
                    </li>
                    <li class="treeview"><a href="#"><i class="fa fa-th-list"></i><span>Hire A freelancer</span><i class="fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="{{ path('project_create') }}"><i class="fa fa-circle-o"></i> Start a Project</a></li>
                            <li><a href="table-data-table.html"><i class="fa fa-circle-o"></i> Post Local Job</a></li>

                        </ul>
                    </li>
                    <li class="treeview"><a href="#"><i class="fa fa-th-list"></i><span>Explore</span><i class="fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">

                            <li><a href={{ path("exhibition-dashboard") }}><i class="fa fa-circle-o"></i>Exhibition</a></li>
                            <li><a href="table-data-table.html"><i class="fa fa-circle-o"></i> Brows Directory</a></li>

                        </ul>
                    </li>
                    <li class="treeview"><a href="#"><i class="fa fa-support"></i><span>Help</span><i class="fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="blank-page.html"><i class="fa fa-circle-o"></i> Get Support</a></li>
                            <li><a href="page-login.html"><i class="fa fa-circle-o"></i> How Chukolo Works</a></li>
                            <li><a href="page-lockscreen.html"><i class="fa fa-circle-o"></i> Frequently Asked Questions</a></li>
                            <li><a href="page-user.html"><i class="fa fa-circle-o"></i> Fees And Charges</a></li>
                            <li><a href="page-invoice.html"><i class="fa fa-circle-o"></i> Disputes</a></li>

                        </ul>
                    </li>
                {% endblock %}
            </ul>
        </section>
{% block sidebar %}

{% endblock %}
    </aside>



    {# page haven #}
    <div style="padding: 0; margin: 0"  class="content-wrapper">


        <div class="page-title hidden-print" style="padding: .2em 1em 0 2em; margin: 3em 0 2em 0;
              background-color: white; min-height: 4.5em">



                <ul style="background: none;" class="nav nav-tabs" >

                    {% block breadCrumb %}

                        <li><a class="btn btn-default" href="{{ path("user_dashboard") }}">Dashboard</a></li>
                        <li><a class="btn btn-default" href="{{ path("brows_user_project") }}">My Project</a></li>
                        <li><a class="btn btn-default" href="#">Feed Back</a></li>
                    {% endblock %}
                </ul>
            {% block titleText %}

            {% endblock %}

        </div>


        {% block page %}
        {% endblock %}
    </div>



</div>



{% block javascripts %}
    <script src="{{ asset('assets/js/dashboard/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('assets/js/dashboard/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/dashboard/plugins/pace.min.js') }}"></script>
    <script src="{{ asset('assets/js/dashboard/main.js') }}"></script>
    <script src="{{ asset('assets/js/chuma.js') }}"></script>
    <script type="text/javascript">$('body').removeClass("sidebar-mini").addClass("sidebar-collapse");</script>
    <script src="{{ asset('assets/js/dashboard/plugins/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('assets/js/dashboard/plugins/select2.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/js/dashboard/plugins/bootstrap-notify.min.js') }}"></script>




    <script src="{{ asset('assets/js/profile/hoverdir.js') }}"></script>
    <script src="{{ asset('assets/js/profile/script.js') }}"></script>
    <script src="{{ asset('assets/js/profile/owl.carousel.js') }}"></script>






{% endblock %}




</body>
</html>