{% extends 'member/base.html.twig' %}

{% block page %}





    {% if project is defined %}



        <div style="margin-top: 3em" class="container">

                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h2 class="panel-title">{{ project.name }}</h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">


                            <div class="col-md-3">
                                <div class="widget-small info coloured-icon"><i class="icon fa fa-users fa-3x"></i>
                                    <div class="info">
                                        <h4>Bids</h4>
                                        <p><b>{{ bid_count }}</b></p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="widget-small info coloured-icon"><i class="icon fa fa-crosshairs fa-3x"></i>
                                    <div class="info">
                                        <h4>Average Bids</h4>
                                        <p><b>25</b></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="widget-small danger coloured-icon"><i class="icon fa fa-money fa-3x"></i>
                                    <div class="info">
                                        <h4>Budget</h4>
                                        <p><b>{{ project.budget.minPrice |price }}  -  {{ project.budget.maxPrice |price }}</b></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="widget-small primary coloured-icon "><i class="icon fa fa-hourglass-start fa-3x"></i>
                                    <div class="info">
                                        <h4>{{ project.state |title }}</h4>
                                        <p><b>{{ project.created |date }}</b></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                             <hr />
                         <div class="row">
                     <div class="col-sm-12">
                             <div class="card-body3">
                                 <h3 class="card-title text-center">Bid For This Project</h3>
                                 <hr />
                                 {{ form_start(form, { 'attr': {'class': 'form-inline'} }) }}


                                     <div class="form-group">
                                         <label class="control-label">Paid to You</label>
                                        <div class="input-group"> {{ form_row(form.price) }}</div>

                                     </div>

                                     <div class="form-group">
                                         <label class="control-label">Days to Deliver</label>
                                         <div class="input-group"><span class="input-group-addon">Days</span>
                                             {{ form_row(form.deliveryDays) }}
                                         </div>
                                     </div>
                                 <div class="col-sm-3">
                                 <div class="alert alert-info">
                                     <strong>Project Fee 10% </strong>
                                 </div>

                                     <div class="alert alert-warning">
                                         <strong>Your bid : <label id="yourBid" >500</label></strong>
                                     </div>
                                     <div class="alert alert-warning">
                                         <strong>Bid Usage: <label id="yourBid" >2 of 10</label></strong>
                                     </div>
                                 </div>
                                 <br />

                                 <div style="margin-top: 1em" class="form-group">

                                     <div class="input-group">
                                         {{ form_row(form.proposal) }}
                                     </div>
                                 </div>
                                <hr />
                                 <!--Checkbox Markup-->
                                 <div >
                                     {{ form_row(form.subscription) }}
                                 </div>
                                 {{ form_end(form) }}
                             </div>
                     </div>
                 </div>
                    </div>

                </div>




                <div class="card">
                    <div class="card-title">
                        <h3 class="title text-center">Project Details</h3>

                    </div>
                    <div class="card-body">
                      <p>{{ project.description  }}</p>

                        <p>Required skills</p>
                        {% for skill in project.skill %}
                            <a  href="#">{{ skill.name}}</a>
                        {% endfor %}

                    </div>

                    <div class="card-footer">
                        <h3 class="title text-center">Know Your Employer</h3>
                        <div style="padding-left: 3em" class="reputation">
                            <span>6.0</span>


                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                            <span>0 Reviews</span>


                            <ul  class="profile-badge-icon">
                                <li><i class="fa fa-credit-card fa-2x" aria-hidden="true"></i></li>
                                <li><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></li>
                                <li><i class="fa fa-user fa-2x" aria-hidden="true"></i></li>
                                <li><i class="fa fa-phone fa-2x" aria-hidden="true"></i></li>
                                <li><i class="fa fa-money fa-2x" aria-hidden="true"></i></li>
                            </ul>
                        </div>


                    </div>
                </div>


            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h2 class="panel-title">{{ project.bid |length }} Freelancers Biding for this project</h2>
                </div>


                <div class="panel-body">
                   {% for bid in project.bid %}
                       <div style="border-bottom: solid thin #a5a5a5; padding:  .5em .5em 0 0; max-height: 11em" class="row">
                           <div class="col-md-2">
                               <img src="{{ asset('assets/img/profile/m.jpeg') }}"
                                    style="max-height: 8em" class="img-responsive img-circle center-block">
                           </div>
                           <div class="col-sm-6">
                               <h4>{{ bid.member.username  }}</h4>

                               <div style="padding-left: 3em" class="reputation">
                                   <ul  class="profile-badge-icon">
                                       <li><i class="fa fa-credit-card fa-2x" aria-hidden="true"></i></li>
                                       <li><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></li>
                                       <li><i class="fa fa-user fa-2x" aria-hidden="true"></i></li>
                                       <li><i class="fa fa-phone fa-2x" aria-hidden="true"></i></li>
                                       <li><i class="fa fa-money fa-2x" aria-hidden="true"></i></li>
                                   </ul>
                               </div>
                           </div>
                           <div class="col-sm-2">
                               <h4>{{ bid.value |price }}</h4>
                               <p> in {{ bid.deliveryDays }} Days</p>
                           </div>
                           <div class="col-sm-2">
                               <div style="padding-left: 3em" class="reputation">
                                   <span>4.8</span>
                                   <i class="fa fa-star" aria-hidden="true"></i>
                                   <i class="fa fa-star" aria-hidden="true"></i>
                                   <i class="fa fa-star" aria-hidden="true"></i>
                                   <i class="fa fa-star-o" aria-hidden="true"></i>
                                   <i class="fa fa-star-o" aria-hidden="true"></i>
                                   <span>33 Reviews</span>


                               </div>

                           </div>
                       </div>
                    {% endfor %}
                 </div>

            </div>

        </div>

    {% endif %}
{% endblock %}
